webservice/src/main/webapp/wsdl/WSCalculaIva.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.integracion.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.integracion.com" xmlns:intf="http://webservice.integracion.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.integracion.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="operacion">
    <complexType>
     <sequence>
      <element name="valor" type="xsd:int"/>
      <element name="porcentaje" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="operacionResponse">
    <complexType>
     <sequence>
      <element name="operacionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="operacionResponse">

      <wsdl:part element="impl:operacionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="operacionRequest">

      <wsdl:part element="impl:operacion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSCalculaIva">

      <wsdl:operation name="operacion">

         <wsdl:input message="impl:operacionRequest" name="operacionRequest">

       </wsdl:input>

         <wsdl:output message="impl:operacionResponse" name="operacionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSCalculaIvaSoapBinding" type="impl:WSCalculaIva">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="operacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="operacionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="operacionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSCalculaIvaService">

      <wsdl:port binding="impl:WSCalculaIvaSoapBinding" name="WSCalculaIva">

         <wsdlsoap:address location="http://localhost:8080/webservice/services/WSCalculaIva"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
